/* 轮播图及右侧 */
.banner_area{
    height: 455px;
    margin-top: 11px;
    padding-left: 220px;
}
.banner_pic{
    float: left;
}
.banner_right_area{
    float: right;
    border: 1px solid #e5e5e5;
    width: 250px;
    border-bottom: 0;
}
.flash_news{
    width: 250px;
    border-bottom: 1px solid #e5e5e5;
}
.flash_news h4{
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    padding: 0 15px;
    border-bottom: 1px dotted #e5e5e5;
}
.flash_news h4 a{
    float: right;
    font-weight: 400;
    font-size: 12px;
}
.flash_news h4 a::after{
    display: inline-block;
    content: '\e60b';
    font-family: 'iconfont';
    font-size: 5px;
    margin-left: 2px;
    transform: rotate(-90deg);
}
.flash_news ul{
    padding-top: 5px;
    padding-left: 15px;
    height: 130px;
}
.flash_news ul span{
    font-weight: 700;
}

.flash_news ul li{
    height: 24px;
    line-height: 24px;
}
.multi_func_area{
    overflow: hidden;
}
.multi_func_area ul{
    width: 260px;
    height: 207px;
    overflow: hidden;
}
.multi_func_area li{
    text-align: center;
    float: left;
    width: 63px;
    height: 69px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.multi_func_area li i{
    display: inline-block;
    margin-top: 13px;
    width: 24px;
    height: 28px;
    background:url(../images/icons.png) no-repeat -77px -86px;
}
.bargin{
    float: right;
    margin-top: 7px;
    height: 75px;
}
.bargin img{
    width: 100%;
}
/* 推荐模块 */
.recom_area{
    margin-top: 11px;
    height: 163px;
    background-color: #ebebeb;;
}
.recom_area .recom_left{
    float: left;
    text-align: center;
    width: 204px;
    background-color: #5c5351;
}
.recom_area .recom_left img{
    width: 100%;
    height: 100%;
}
.recom_product_bar {
    /* background-color: #ebebeb; */
    background-color: black;
}
.recom_area .recom_product_bar li{
    position: relative;
    float: left;
    width: 249px;
    height: 163px;
}
.recom_area .recom_product_bar li:nth-child(-n+3):after{
    display: block;
    position: absolute;
    content: " ";
    z-index: 1;
    top: 50%;
    margin-top: -72px;
    right: 0px;
    width: 3px;
    height: 144px;
    background-color: #ddd;
}